<article{{ attributes }} class="site-content">


  {% if content.field_subtitle_1 %} 
    {{ content.field_subtitle_1 }}
  {% endif %}

  {% if label %}
    <h1{{ title_attributes }} class="site-content__title" >
     {{ label }}
    </h1>
  {% endif %}

  {% if content.field_hero_image %} 
    {# {{ content.field_hero_image }} #}
  {% endif %}

  {% if content.field_subtitle_2 %} 
    {{ content.field_subtitle_2 }}
  {% endif %}

  {% if content.field_image_with_text %} 
    {{ content.field_image_with_text }}
  {% endif %}

  {% if content.field_map_title %} 
    {{ content.field_map_title }}
  {% endif %}
  
  {% if content.field_map %} 
    {{ content.field_map }}
  {% endif %}
  {% if content.field_email %} 
    {{ content.field_email }}
  {% endif %}
  {% if content.field_phone %} 
    {{ content.field_phone }}
  {% endif %}
  {% if content.field_address %} 
    {{ content.field_address }}
  {% endif %}


  

  <div{{ content_attributes }}>
    
  </div>

</article>