<article{{ attributes }} >

{# navigation #}
  <div class="content"> 
  <div class="nav">
    <a href="#menu">Menu</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>

{# Hero #}
    <div class="hero">
      {% if content.field_subtitle_1 %} 
        {{ content.field_subtitle_1 }}
      {% endif %}

      {% if label %}
        <h1{{ title_attributes }} class="hero__title" >
        {{ label }}
        </h1>
      {% endif %}

      {% if content.field_hero_image %} 
        {{ content.field_hero_image }}
      {% endif %}

      {% if content.field_subtitle_2 %} 
        {{ content.field_subtitle_2 }}
      {% endif %}
    </div>
  </div>

{# Image with text 1 #}
    <div class="wide-content" id="about">
  {% if content.field_image_with_text %} 
      {{ content.field_image_with_text.0 }}
  {% endif %}
  {% if content.field_image_with_text.1 %} 
    <div class="reverse">
      {{ content.field_image_with_text.1 }}
    </div>
  {% endif %}
    </div>

{# Menu #}
  <div class="content">
    {% if content.field_menu %}
      {{ content.field_menu }}
    {% endif %}
  </div>


{# Image with text 2 #}

  {% if content.field_image_with_text.2 %} 
  <div class="wide-content">
    {{ content.field_image_with_text.2 }}
  </div>
  {% endif %}


{# Contact info #}
  <div class="content"> 
    <div class="contact" id="contact">
      <div class="map">
        {% if content.field_map_title %} 
          {{ content.field_map_title }}
        {% endif %}
        
        {% if content.field_map %} 
          {{ content.field_map }}
        {% endif %}
      </div>
      <div>
        {% if content.field_address_title %} 
          {{ content.field_address_title }}
        {% endif %}

        <div class="contact-info">
          {% if content.field_email %} 
            {{ content.field_email }}
          {% endif %}

          {% if content.field_phone %} 
            {{ content.field_phone }}
          {% endif %}
          
          {% if content.field_address %} 
            {{ content.field_address }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</article>